.gridContainer .formular {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
/*
.gridContainer .formular {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}*/

.gridContainer .formular .input {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.gridContainer .formular .area {
  display: flex;
  flex-direction: column;
  width: 833px;
  height: 198px;
  gap: 25px;
}

.gridContainer textarea {
  background-color: var(--secondary-50);
  border-radius: 15px;
  border: nozzzzzz;
}

.gridContainer .formular label {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  width: 405px;
  line-height: 32.69px;
  gap: 16px;
}

.gridContainer .formular input {
  background-color: var(--secondary-50);
  height: 50px;
  width: 405px;
  border-radius: 15px;
  border-style: none;
  margin-left: auto;
}

.area button {
  background-color: var(--secondary-300);
  height: 40px;
  width: 95px;
  padding: 5px;
  border-radius: 10px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  border: none;
}

.area button img{
  height: 13.33px;
  width: 13.33px;
}